.dockerignore
.git
.gitignore
.env
.env.local
.env.*.local
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
build
coverage
.DS_Store
.next
out
dist
.cache
.vercel
.turbo
.firebase
*.pem
*.key
*.pub
.vscode
.idea
*.swp
*.swo
*~
.eslintcache
.stylelintcache
